*,
*::after,
*::before {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: $VeryDark;
  height: 100vh;
  background-image: linear-gradient(180deg, $VeryPaleBlue 25%, $White 25%);
}
