//test utilities
.u-bgred {
  background-color: red;
}

.u-bggreen {
  background-color: green;
}

.u-pd-medium {
  padding: 2.5rem 0;
}

.u-mb-1 {
  margin-bottom: 1rem;
}

.u-mb-2 {
  margin-bottom: 2rem;
}

.caret {
  color: $LimeGreen;
}
