$LimeGreen: hsl(163, 72%, 41%);
$BrightRed: hsl(356, 69%, 56%);
$Facebook: hsl(208, 92%, 53%);
$Twitter: hsl(203, 89%, 53%);
$Instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
$YouTube: hsl(348, 97%, 39%);
$Toggle: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));

// Dark Theme colors
$VeryDark: hsl(230, 17%, 14%);
$VeryDark: hsl(232, 19%, 15%);
$DarkDesaturated: hsl(228, 28%, 20%);
$Desaturated: hsl(228, 34%, 66%);

// Light Theme Colors
$White: hsl(0, 0%, 100%);
$VeryPaleBlue: hsl(225, 100%, 98%);
$LightGrayish: hsl(227, 47%, 96%);
$DarkGrayish: hsl(228, 12%, 44%);

$GutterVertical: 2rem;
$GutterHorizontal: 6rem;
